h2{

    text-transform: uppercase;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
    font-family: Helvetica;
    text-align: left;
    font-weight: 1em;
    font-family: "Lucida Handwriting";
    padding-left: 5%;
    padding-top: 8%;
  }
      
  .intro{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: white;
    background-image:url(/static/image/first-one.png);
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    padding-bottom: 25%;
    background-blend-mode: multiply;
    background-color: rgb(183, 127, 54);
    animation: change 20s infinite ease-in;
    border-radius: 100px;
  }
      
  #para1{
  
    font-size: larger;
    padding-top: 2%;
    padding-right: 17%;
    padding-left: 5%;
  }
  @keyframes change
  {
    0%{
      background-image: url(/static/image/first-one.png);
    }
    20%{
      background-image: url(/static/image/second-one.jpeg);
    }
    60%{
      background-image: url(/static/image/third-one.jpeg);
    }
    
  }
  .card{
    height: 380px;
    margin: 15px;
    box-shadow: 5px 5px 20px rgb(146, 106, 53);
    overflow: hidden;
  }
  .imgbook{
    border-radius: 3px;
    height: 380px;
    width: 200px;
    transition: .5s;
  }
  .container{
    padding-top:100px ;
    display: flex;
    
  }
  .details{
    height: 70px;
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(68, 41, 5, 0.5);
    color: white;
    bottom: -620px;  /* to display details of book in the bottom of cover of book */
    transition:  0.5s;
  }
      h1{
        font-family: sans-serif;
        margin: 5px;
        font-size: 20px;
      }
      .details>p{
        visibility: hidden;
        margin: 20px;
        opacity: 0;
        font-size: 20px;
      }
      .card:hover .details{
        height: 235px;
        bottom:-620px;  /* to display details of book in the bottom of cover of book */
        background: rgba(56, 53, 53, 0.7);
        cursor: pointer;
      }
      .card:hover .details>p{
        visibility:visible;
        opacity: 1;
      }
      .card:hover img{
        transform: scale(1.1)rotate(1deg) ;
      }
      .fa {
        padding: 25px; 
        font-size: 20px; 
        text-align: center;
        text-decoration: none;
        border-radius: 50%; /* Circular icons */
      }
      
      .fa:hover {
        background-color: rgba(0, 0, 0, 0.2); /* Slight darkening on hover */
      }
      
      .fa-facebook {
        background-color: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background-color: #55ACEE;
        color: white;
      }
      
      .fa-instagram {
        background-color: #e1306c; 
        color: white;
      }
      
      .fa-linkedin {
        background-color: #0077b5; 
        color: white;
      }
      .footer {
        background-color:#2c3e50;
        padding: 2rem;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center;
        width: auto;
        height: 130px; 
        padding-top: 10px;
        padding-bottom: 0; 
        margin-bottom: 0;
      }
  
