h2{
  text-align: left;
  font-weight: 1em;
  font-family: "Lucida Handwriting";
  color: rgb(8, 2, 72);
  padding-left: 5%;
  padding-top: 8%;
}

.intro{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  color: white;
  background-image:url(/static/image/image1.jpg);
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  padding-bottom: 25%;
  background-blend-mode: multiply;
  background-color: darkgrey;
  animation: change 20s infinite ease-in;
  border-radius: 100px;
}

#para1,#para2,#para3{

  font-size: larger;
  padding-top: 2%;
  padding-right: 17%;
  padding-left: 5%;
}
@keyframes change
{
  0%{
    background-image: url(/static/image/image3.jpg);
  }
  20%{
    background-image: url(/static/image/image5.jpg);
  }
  60%{
    background-image: url(/static/image/image4.jpg);
  }
  
}
.card{
  height: 380px;
  margin: 15px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}
.imgbook{
  border-radius: 3px;
  height: 380px;
  width: 200px;
  transition: .5s;
}
.container{
  padding-top:100px ;
  display: flex;
  
}
.details{
  height: 70px;
  width: 200px;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(8, 46, 148, 0.5);
  color: white;
  bottom: -680px;  /* to display details of book in the bottom of cover of book */
  transition:  0.5s;
}
h1{
  font-family: sans-serif;
  margin: 5px;
  font-size: 20px;
}
.details>p{
  visibility: hidden;
  margin: 20px;
  opacity: 0;
  font-size: 20px;
}
.card:hover .details{
  height: 220px;
  bottom:-680px;  /* to display details of book in the bottom of cover of book */
  background: rgba(56, 53, 53, 0.7);
  cursor: pointer;
}
.card:hover .details>p{
  visibility:visible;
  opacity: 1;
}
.card:hover img{
  transform: scale(1.1)rotate(1deg) ;
}
/*---------------------- ---------------------------------------div2-------------------------------------------------------------------- */
.container2{
  padding-top:40px ;
  padding-left: 160px;
  display: flex;
}
.details2{
  height: 70px;
  width: 250px;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(8, 46, 148, 0.5);
  color: white;
   bottom: -1220px;   /* to display details of book in the bottom of cover of book */
  transition:  0.5s;
}
.new2card:hover .details2{
  height: 220px;
  bottom:-1220px; /* to display details of book in the bottom of cover of book */
  background: rgba(56, 53, 53, 0.7);
  cursor: pointer;
}
.new2card{
  height: 380px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}
.details2>p{
  visibility: hidden;
  margin: 20px;
  opacity: 0;
  font-size: 20px;
}
.new2card:hover .details2>p{
  visibility:visible;
  opacity: 1;
}
.new2card:hover img{
  transform: scale(1.1)rotate(1deg) ;
}

.fa {
  padding: 25px; 
  font-size: 20px; 
  text-align: center;
  text-decoration: none;
  border-radius: 50%; /* Circular icons */
}

.fa:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Slight darkening on hover */
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.fa-twitter {
  background-color: #55ACEE;
  color: white;
}

.fa-instagram {
  background-color: #e1306c; 
  color: white;
}

.fa-linkedin {
  background-color: #0077b5; 
  color: white;
}
.footer {
  background-color:#2c3e50;
  padding: 2rem;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  width: auto;
  height: 115px; 
  padding-top: 10px;
  padding-bottom: 0; 
  margin-bottom: 0;
}
 