{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/NavBar.css' %}">
    <script src="{% static  'js/search.js'%}" defer></script>
    <script src="{% static  'js/Login-profile.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <title>Personal Development Books</title>
     <link rel="stylesheet"  type="text/css" href="{%static 'css/personal_development.css'%}">
         
    </head>
    <body>
{% if user_type == 'user' %}
      {% include 'user_navbar.html' %}
{% elif user_type == 'admin' %}
      {% include 'admin_navbar.html' %}
{% endif %}
        
        <div class="intro">
          <h2 id = "c">Personal development category :</h2>
          <p id="para1">The Personal Development category is a collection of books designed to help individuals grow, improve, and reach their full potential.
            This books offer practical insights, guidance, and strategies to enhance various aspects of life, such as self-confidence, goal setting, communication skills, and personal well-being. </p> 
          <p id="para2">They provide valuable knowledge and tools to develop a positive mindset, overcome challenges, and build healthy habits.
          Exploring the books in this category can empower you to discover your strengths, unlock your potential, and create a more fulfilling and successful life. 
          Whether you're seeking personal growth, increased self-awareness,the Personal Development books are here to inspire and guide you on your journey of self-improvement. </p>
      
      </div>
      <div class="container">
        {% for book in personal_development_books %}
        <div class="card" id="{{ book.id }}">
            <a href="{% url 'book_detail' book.id %}" target="_self">
                <img class="imgbook" src="{{ book.image_url.url }}" alt="{{ book.title }}">
            </a>
            <div class="details">
                <h1>{{ book.title }}</h1>
                <p>By {{ book.author }}</p>
            </div>
        </div>
        {% endfor %}
    </div>  



        <footer class="footer">
          <div class="social-container">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
            <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
          </div>
          <p style="color:#f2f2f2">&copy; Copyright  BOOKTOPIA 2024. All Rights Reserved.</p>
        </footer>
    </body>
</html> 
