{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/NavBar.css' %}">
    <script src="{% static  'js/search.js'%}" defer></script>
    <script src="{% static  'js/Login-profile.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <title>Programming Books</title>
     <link rel="stylesheet"  type="text/css" href="{%static 'css/programming.css'%}">
         
    </head>
    <body>
{% if user_type == 'user' %}
      {% include 'user_navbar.html' %}
{% elif user_type == 'admin' %}
      {% include 'admin_navbar.html' %}
{% endif %}
        
        <div class="intro">
          <h2>Programming category :</h2>
          <p id="para1">Programming books encompass a wide range of topics aimed at both beginners and experienced developers, providing valuable insights into various programming languages, frameworks, and best practices. These books serve as essential resources for learning coding fundamentals, mastering advanced techniques, and staying updated with the latest industry trends. They cover languages such as Python, JavaScript, Java, C++, and many others, offering practical examples, exercises, and real-world applications to help readers build and refine their programming skills. </p> 
          <p id="para2">these books empower individuals to tackle complex coding challenges, enhance their problem-solving abilities, and contribute effectively to software development projects. Whether for academic purposes, professional growth, or personal interest, programming books are invaluable tools for anyone looking to excel in the dynamic field of technology. </p>
      
      </div>
      <div class="container">
        {% for book in Programming_books %}
        <div class="card" id="{{ book.id }}">
            <a href="{% url 'book_detail' book.id %}" target="_self">
                <img class="imgbook" src="{{ book.image_url.url }}" alt="{{ book.title }}">
            </a>
            <div class="details">
                <h1>{{ book.title }}</h1>
                <p>By {{ book.author }}</p>
            </div>
        </div>
        {% endfor %}
    </div>  



        <footer class="footer">
          <div class="social-container">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
            <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
          </div>
          <p style="color:#f2f2f2">&copy; Copyright  BOOKTOPIA 2024. All Rights Reserved.</p>
        </footer>
    </body>
</html> 
